{% extends 'music/base.html' %}
{% block title %}All IP Cam Links{% endblock %}


{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:IPCamdetail' %}">View All Links</a></li>
                <li role="presentation"><a href="{% url 'music:IPCamupload' %}">New IP Cam</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Links</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Video Stream</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if links %}
                            {% for IPClink in links %}
                                <tr>
                                    <td>{{ IPClink }}</td>
                                    <td>
                                        <a target="_blank" href="{{ IPClink }}">
                                            <button type="submit" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="{% url 'music:delete_link' IPClink.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="link_id" value="{{ IPClink.id }}" />
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}